.prose-ui {
    --shiki-foreground: var(--p-code-block-color-text);
    --shiki-background: var(--p-code-block-color-bg);
    --shiki-token-constant: var(--p-code-block-color-constant);
    --shiki-token-string: var(--p-code-block-color-string);
    --shiki-token-comment: var(--p-code-block-color-comment);
    --shiki-token-keyword: var(--p-code-block-color-keyword);
    --shiki-token-parameter: var(--p-code-block-color-parameter);
    --shiki-token-function: var(--p-code-block-color-function);
    --shiki-token-string-expression: var(--p-code-block-color-string-expression);
    --shiki-token-punctuation: var(--p-code-block-color-punctuation);
    --shiki-token-link: var(--p-code-block-color-link)
}
:root {
    --p-color-text-high: 219 5% 5%;
    --p-color-text: 219 5% 23%;
    --p-color-text-low: 219 6% 36%;
    --p-color-text-lower: 219 6% 42%;
    --p-color-text-lowest: 219 6% 47%;
    --p-color-text-disabled: 219 6% 36%;
    --p-color-accent-high: 117 62% 20%;
    --p-color-accent: 117 62% 30%;
    --p-color-accent-low: 150 15% 80%;
    --p-color-syntax-syntax1: 117 62% 30%;
    --p-color-syntax-syntax2: 27 90% 30%;
    --p-color-syntax-syntax3: 295 60% 40%;
    --p-color-syntax-syntax4: 240 60% 40%;
    --p-color-note: 210 13% 13%;
    --p-color-info: 208 88% 43%;
    --p-color-warning: 35 100% 34%;
    --p-color-success: 154 60% 32%;
    --p-color-danger: 358 69% 55%;
    --p-color-bg-high: 0 0% 100%;
    --p-color-bg: 240 20% 99%;
    --p-color-bg-low: 240 11% 95%;
    --p-color-bg-lower: 230 11% 89%;
    --p-color-bg-lowest: 233 10% 82%;
    --p-color-border: 240 10% 92%;
    --p-color-outline: 152 56% 39%
}
:is(.dark) {
    --p-color-text-high: 219 0% 100%;
    --p-color-text: 219 100% 100%;
    --p-color-text-low: 219 6% 70%;
    --p-color-text-lower: 219 6% 65%;
    --p-color-text-lowest: 219 6% 60%;
    --p-color-text-disabled: 219 6% 53%;
    --p-color-accent-high: 150 95% 75%;
    --p-color-accent: 150 90% 65%;
    --p-color-accent-low: 150 15% 30%;
    --p-color-syntax-syntax1: 150 66% 66%;
    --p-color-syntax-syntax2: 40 50% 66%;
    --p-color-syntax-syntax3: 340 50% 75%;
    --p-color-syntax-syntax4: 210 77% 69%;
    --p-color-note: 220 9% 94%;
    --p-color-info: 210 100% 72%;
    --p-color-warning: 46 100% 54%;
    --p-color-success: 151 65% 54%;
    --p-color-danger: 360 79% 65%;
    --p-color-bg-high: 0 0% 0%;
    --p-color-bg: 0 0% 0%;
    --p-color-bg-low: 220 6% 10%;
    --p-color-bg-lower: 225 6% 14%;
    --p-color-bg-lowest: 210 7% 16%;
    --p-color-border: 210 7% 16%;
    --p-color-outline: 151 55% 45%
}
:root {
    --p-spacing-none: 0;
    --p-spacing-px: 1px;
    --p-spacing-space0-5: 0.125rem;
    --p-spacing-space1: 0.25rem;
    --p-spacing-space1-5: 0.375rem;
    --p-spacing-space2: 0.5rem;
    --p-spacing-space3: 0.75rem;
    --p-spacing-space4: 1rem;
    --p-spacing-space5: 1.5rem;
    --p-spacing-space6: 2rem;
    --p-spacing-space7: 2.5rem;
    --p-spacing-space8: 3rem;
    --p-spacing-space9: 4rem;
    --p-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    --p-font-family-heading: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    --p-font-family-mono: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono", Menlo, Consolas, monospace;
    --p-font-size: 1rem;
    --p-font-size-sm: 0.875rem;
    --p-font-weight-normal: 400;
    --p-font-weight-medium: 500;
    --p-font-weight-semi-bold: 600;
    --p-font-weight-bold: 700;
    --p-font-height: 1.75rem;
    --p-font-height-sm: 1.25rem;
    --p-letter-spacing: 0.0175rem;
    --p-letter-spacing-sm: 0;
    --p-border-radius: 4px;
    --p-content-gap: 1.5rem;
    --p-content-gap-heading: 2.5rem;
    --p-content-gap-cluster: 0.5rem;
    --p-body-font-family: var(--p-font-family);
    --p-body-font-size: var(--p-font-size);
    --p-body-font-height: var(--p-font-height);
    --p-body-color-bg: hsl(var(--p-color-bg));
    --p-body-color-text: hsl(var(--p-color-text));
    --p-h1-font-family: var(--p-font-family-heading);
    --p-h1-font-size: 1.875rem;
    --p-h1-font-weight: var(--p-font-weight-semi-bold);
    --p-h1-line-height: 2.25rem;
    --p-h1-letter-spacing: -0.065rem;
    --p-h1-color: hsl(var(--p-color-text-high));
    --p-h2-font-family: var(--p-font-family-heading);
    --p-h2-font-size: 1.25rem;
    --p-h2-line-height: 1.75rem;
    --p-h2-letter-spacing: -0.035rem;
    --p-h2-font-weight: var(--p-font-weight-semi-bold);
    --p-h2-color: hsl(var(--p-color-text-high));
    --p-h3-font-family: var(--p-font-family-heading);
    --p-h3-font-size: 1.09375rem;
    --p-h3-line-height: 1.5rem;
    --p-h3-letter-spacing: -0.035rem;
    --p-h3-font-weight: var(--p-font-weight-semi-bold);
    --p-h3-color: hsl(var(--p-color-text-high));
    --p-h4-font-family: var(--p-font-family-heading);
    --p-h4-font-size: 0.9375rem;
    --p-h4-line-height: 1.5rem;
    --p-h4-letter-spacing: -0.015rem;
    --p-h4-font-weight: var(--p-font-weight-semi-bold);
    --p-h4-color: hsl(var(--p-color-text-high));
    --p-h5-font-family: var(--p-font-family-heading);
    --p-h5-font-size: 0.90625rem;
    --p-h5-line-height: 1.25rem;
    --p-h5-letter-spacing: -0.015rem;
    --p-h5-font-weight: var(--p-font-weight-semi-bold);
    --p-h5-color: hsl(var(--p-color-text-high));
    --p-h6-font-family: var(--p-font-family-heading);
    --p-h6-font-size: 0.875rem;
    --p-h6-line-height: 1.25rem;
    --p-h6-letter-spacing: -0.015rem;
    --p-h6-font-weight: 500;
    --p-h6-color: hsl(var(--p-color-text-high));
    --p-link-text-color: hsl(var(--p-color-accent));
    --p-link-text-decoration-line: underline;
    --p-link-text-decoration-style: solid;
    --p-link-text-decoration-color: hsl(var(--p-color-accent-low));
    --p-link-font-weight: var(--p-font-weight-normal);
    --p-inline-code-font-size: var(--p-font-size-sm);
    --p-inline-code-font-weight: var(--p-font-weight-normal);
    --p-inline-code-font-height: var(--p-font-height-sm);
    --p-inline-code-font-spacing: var(--p-letter-spacing-sm);
    --p-inline-code-color-bg: hsl(var(--p-color-bg-low));
    --p-inline-code-letter-spacing: var(--p-letter-spacing-sm);
    --p-callout-color-text: hsl(var(--p-color-text));
    --p-callout-font-size: var(--p-font-size-sm);
    --p-callout-font-weight: var(--p-font-weight-medium);
    --p-callout-font-height: var(--p-font-height-sm);
    --p-blockquote-color-text: hsl(var(--p-color-text));
    --p-blockquote-font-size: var(--p-font-size);
    --p-blockquote-font-weight: var(--p-font-weight-normal);
    --p-blockquote-font-height: var(--p-font-height);
    --p-blockquote-font-style: italic;
    --p-code-block-color-bg: hsl(var(--p-color-bg-low));
    --p-code-block-color-text: hsl(var(--p-color-text));
    --p-code-block-color-constant: hsl(var(--p-color-syntax-syntax1));
    --p-code-block-color-string: hsl(var(--p-color-syntax-syntax2));
    --p-code-block-color-comment: hsl(var(--p-color-text-low));
    --p-code-block-color-keyword: hsl(var(--p-color-syntax-syntax3));
    --p-code-block-color-parameter: hsl(var(--p-color-text));
    --p-code-block-color-function: hsl(var(--p-color-syntax-syntax4));
    --p-code-block-color-string-expression: hsl(var(--p-color-syntax-syntax2));
    --p-code-block-color-punctuation: hsl(var(--p-color-text));
    --p-code-block-color-link: hsl(var(--p-color-syntax-syntax2));
    --p-code-block-font-size: var(--p-font-size-sm);
    --p-code-block-font-weight: var(--p-font-weight-normal);
    --p-code-block-font-height: var(--p-font-height-sm);
    --p-code-block-font-spacing: var(--p-letter-spacing-sm);
    --p-code-block-line-number-color-text: hsl(var(--p-color-text-lower));
    --p-table-font-size: var(--p-font-size-sm);
    --p-table-font-height: var(--p-font-height-sm);
    --p-table-font-weight: var(--p-font-weight-normal);
    --p-table-th-font-size: var(--p-font-size-sm);
    --p-table-th-font-height: var(--p-font-height-sm);
    --p-table-th-font-weight: var(--p-font-weight-semi-bold);
    --p-table-th-color-text: hsl(var(--p-color-text-low));
    --p-table-border-color: hsl(var(--p-color-border));
    --p-frame-caption-color-text: hsl(var(--p-color-text-low));
    --p-frame-caption-font-size: var(--p-font-size-sm);
    --p-frame-caption-font-height: var(--p-font-height-sm);
    --p-frame-caption-font-weight: var(--p-font-weight-medium);
    --p-frame-caption-font-style: italic;
}
@media (min-width: 1024px) {
    :root {
        --p-content-gap: 1.25rem;
        --p-content-gap-heading: 2.75rem;
        --p-content-gap-cluster: 0.625rem;
        --p-h1-font-size: 2.125rem;
        --p-h1-line-height: 2.75rem;
        --p-h1-letter-spacing: -0.085rem;
        --p-h2-font-size: 1.375rem;
        --p-h2-line-height: 2rem;
        --p-h3-font-size: 1.125rem;
        --p-h3-line-height: 1.75;
        --p-h4-font-size: 1rem;
        --p-h4-line-height: 1.75rem;
    }
}
.prose-ui {
    background-color: var(--p-body-color-bg);
    font-family: var(--p-body-font-family);
    font-size: var(--p-body-font-size);
    line-height: var(--p-body-font-height);
    color: var(--p-body-color-text);
    letter-spacing: var(--p-letter-spacing)
}
.prose-ui p {
    margin-top: var(--p-content-gap);
    margin-bottom: var(--p-content-gap-cluster);
}
.prose-ui p + .code-block, .prose-ui p + ul, .prose-ui p + ol {
    margin-top: var(--p-content-gap-cluster);
}
.prose-ui .code-block + .code-block, .prose-ui .callout + .callout {
    margin-top: var(--p-content-gap-cluster);
}
.prose-ui code {
    font-family: var(--p-font-family-mono);
}
.prose-ui li > .code-block, .prose-ui li > table, .prose-ui li > .frame, .prose-ui li > .callout, .prose-ui li > ul, .prose-ui li > ol {
    margin-top: var(--p-content-gap-cluster);
    margin-bottom: var(--p-content-gap-cluster);
}
.prose-ui li > .code-block {
    margin-bottom: var(--p-content-gap);
}
.prose-ui li > p {
    margin-top: 0;
    margin-bottom: 0;
}
.prose-ui h1 + table, .prose-ui h1 + .callout, .prose-ui h1 + p, .prose-ui h1 + ul, .prose-ui h1 + ol, .prose-ui h2 + table, .prose-ui h2 + .callout, .prose-ui h2 + p, .prose-ui h2 + ul, .prose-ui h2 + ol, .prose-ui h3 + table, .prose-ui h3 + .callout, .prose-ui h3 + p, .prose-ui h3 + ul, .prose-ui h3 + ol, .prose-ui h4 + table, .prose-ui h4 + .callout, .prose-ui h4 + p, .prose-ui h4 + ul, .prose-ui h4 + ol, .prose-ui h5 + table, .prose-ui h5 + .callout, .prose-ui h5 + p, .prose-ui h5 + ul, .prose-ui h5 + ol, .prose-ui h6 + table, .prose-ui h6 + .callout, .prose-ui h6 + p, .prose-ui h6 + ul, .prose-ui h6 + ol {
    margin-top: var(--p-content-gap-cluster);
}
.prose-ui p code, .prose-ui table code, .prose-ui li code {
    background-color: var(--p-inline-code-color-bg);
    padding-left: var(--p-spacing-space1);
    padding-right: var(--p-spacing-space1);
    padding-top: var(--p-spacing-space0-5);
    padding-bottom: var(--p-spacing-space0-5);
    border-radius: var(--p-border-radius);
    letter-spacing: var(--p-inline-code-letter-spacing);
    font-size: var(--p-inline-code-font-size);
    line-height: var(--p-inline-code-font-height);
    font-weight: var(--p-inline-code-font-weight);
}
.prose-ui p pre code, .prose-ui table pre code, .prose-ui li pre code {
    background-color: transparent;
    display: inline;
    padding: 0;
    border-radius: 0;
}
.prose-ui .code-block {
    margin-top: var(--p-content-gap);
    margin-bottom: var(--p-content-gap-cluster);
    border-width: 1px;
    border-color: hsl(var(--p-color-border));
    border-radius: var(--p-border-radius);
    background-color: var(--p-code-block-color-bg);
    display: flex;
    flex-direction: column;
}
.prose-ui .code-block .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid hsl(var(--p-color-border));
    padding-top: var(--p-spacing-space1-5);
    padding-bottom: var(--p-spacing-space1-5);
    padding-left: var(--p-spacing-space3);
    padding-right: var(--p-spacing-space1-5);
    border-color: hsl(var(--p-color-border));
}
.prose-ui .code-block .header .title {
    color: hsl(var(--p-color-text-low));
    font-size: var(--p-font-size-sm);
    line-height: var(--p-font-height-sm);
    letter-spacing: var(--p-letter-spacing-sm);
}
.prose-ui .code-block .copy-button {
    position: relative;
    background-color: var(--p-code-block-color-bg);
    border-radius: var(--p-border-radius);
    padding: var(--p-spacing-space1);
    color: hsl(var(--p-color-text-lowest));
    transition: color 150ms ease, background-color 150ms ease;
    cursor: pointer;
}
.prose-ui .code-block .copy-button .icon-wrapper {
    position: relative;
    width: 16px;
    height: 16px;
}
.prose-ui .code-block .copy-button .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 150ms ease;
}
.prose-ui .code-block .copy-button .icon-default {
    opacity: 1;
}
.prose-ui .code-block .copy-button .icon-hover {
    opacity: 0;
}
.prose-ui .code-block .copy-button:hover {
    color: hsl(var(--p-color-text-lower));
    background-color: hsl(var(--p-color-bg-lower));
}
.prose-ui .code-block .copy-button:hover .icon-default {
    opacity: 0;
}
.prose-ui .code-block .copy-button:hover .icon-hover {
    opacity: 1;
}
.prose-ui .code-block .copied-icon {
    background-color: var(--p-code-block-color-bg);
    padding: var(--p-spacing-space1);
    border-radius: var(--p-border-radius);
    color: hsl(var(--p-color-success));
}
.prose-ui .code-block .body {
    position: relative;
    display: flex;
    font-family: var(--p-font-family-mono);
    font-size: var(--p-code-block-font-size);
    line-height: var(--p-code-block-font-height);
    font-weight: var(--p-code-block-font-weight);
    letter-spacing: var(--p-code-block-font-spacing);
    word-break: keep-all;
    font-variant-ligatures: none;
}
.prose-ui .code-block .body .copy-button {
    visibility: hidden;
    transition: opacity 100ms ease;
    border-width: 1px;
    border-color: hsl(var(--p-color-border));
    opacity: 0;
    position: absolute;
    right: var(--p-spacing-space2);
    top: var(--p-spacing-space2);
}
.prose-ui .code-block .body .copied-icon {
    border-width: 1px;
    border-color: hsl(var(--p-color-border));
    position: absolute;
    right: var(--p-spacing-space2);
    top: var(--p-spacing-space2);
}
.prose-ui .code-block .body:hover .copy-button {
    opacity: 1;
    visibility: visible;
}
.prose-ui .code-block .line-numbers {
    user-select: none;
    padding: var(--p-spacing-space3);
    text-align: right;
}
.prose-ui .code-block .line-number {
    color: var(--p-code-block-line-number-color-text);
}
.prose-ui .code-block .code-container {
    padding-top: var(--p-spacing-space3);
    padding-bottom: var(--p-spacing-space3);
    padding-left: var(--p-spacing-space3);
    padding-right: var(--p-spacing-space3);
}
.prose-ui .code-block code {
    display: flex;
    flex-direction: column;
}
.prose-ui .code-block .line {
    font-family: var(--p-font-family-mono);
    font-size: var(--p-code-block-font-size);
    line-height: var(--p-code-block-font-height);
    height: var(--p-code-block-font-height);
    letter-spacing: var(--p-code-block-font-spacing);
    word-break: keep-all;
}
.prose-ui blockquote {
    margin-top: var(--p-content-gap);
    margin-bottom: var(--p-content-gap-cluster);
    border-left-width: var(--p-spacing-space0-5);
    padding-left: var(--p-spacing-space2);
    padding-right: var(--p-spacing-space2);
    padding-top: var(--p-spacing-space1);
    padding-bottom: var(--p-spacing-space1);
    border-color: hsl(var(--p-color-note));
}
.prose-ui blockquote p, .prose-ui blockquote ul, .prose-ui blockquote ol, .prose-ui blockquote li {
    font-size: var(--p-blockquote-font-size);
    line-height: var(--p-blockquote-font-height);
    font-weight: var(--p-blockquote-font-weight);
    font-style: var(--p-blockquote-font-style);
}
.prose-ui blockquote :first-child {
    margin-top: 0;
}
.prose-ui blockquote :last-child {
    margin-bottom: 0;
}
.prose-ui .callout {
    margin-top: var(--p-content-gap);
    margin-bottom: var(--p-content-gap-cluster);
    display: flex;
    flex-direction: column;
    gap: var(--p-spacing-space1);
    border-left-width: var(--p-spacing-space1);
    border-left-style: solid;
    padding-left: var(--p-spacing-space2);
    padding-right: var(--p-spacing-space2);
    padding-top: var(--p-spacing-space1);
    padding-bottom: var(--p-spacing-space1);
}
.prose-ui .callout .title {
    font-size: var(--p-font-size-sm);
    font-weight: var(--p-font-weight-semi-bold);
}
.prose-ui .callout .body :first-child {
    margin-top: 0;
}
.prose-ui .callout .body :last-child {
    margin-bottom: 0;
}
.prose-ui .callout .body {
    color: var(--p-callout-color-text);
}
.prose-ui .callout .body p, .prose-ui .callout .body ul, .prose-ui .callout .body ol, .prose-ui .callout .body li {
    font-size: var(--p-callout-font-size);
    line-height: var(--p-callout-font-height);
    font-weight: var(--p-callout-font-weight);
}
.prose-ui .callout.note {
    border-color: hsl(var(--p-color-note));
}
.prose-ui .callout.note .title {
    color: hsl(var(--p-color-note));
}
.prose-ui .callout.info {
    border-color: hsl(var(--p-color-info));
}
.prose-ui .callout.info .title {
    color: hsl(var(--p-color-info));
}
.prose-ui .callout.tip {
    border-color: hsl(var(--p-color-success));
}
.prose-ui .callout.tip .title {
    color: hsl(var(--p-color-success));
}
.prose-ui .callout.warning {
    border-color: hsl(var(--p-color-warning));
}
.prose-ui .callout.warning .title {
    color: hsl(var(--p-color-warning));
}
.prose-ui .callout.danger {
    border-color: hsl(var(--p-color-danger));
}
.prose-ui .callout.danger .title {
    color: hsl(var(--p-color-danger));
}
.prose-ui ul {
    margin-top: var(--p-content-gap);
    margin-bottom: var(--p-content-gap-cluster);
    list-style-type: disc;
    list-style-position: outside;
    padding-left: var(--p-spacing-space6);
}
.prose-ui ul li {
    margin-bottom: var(--p-spacing-space0-5);
    padding-left: var(--p-spacing-space1);
}
.prose-ui ul > li::marker {
    color: hsl(var(--p-color-text-lowest));
}
.prose-ui ol {
    counter-reset: index;
    margin-top: var(--p-content-gap);
    margin-bottom: var(--p-content-gap-cluster);
    padding-left: var(--p-spacing-space6);
    margin-left: 0;
}
.prose-ui ol > li {
    counter-increment: index;
    margin-bottom: var(--p-spacing-space0-5);
    position: relative;
}
.prose-ui ol > li::before {
    content: counters(index, ".", decimal) ".";
    position: absolute;
    width: var(--p-spacing-space6);
    left: calc(var(--p-spacing-space6) * -1);
    text-align: center;
    white-space: nowrap;
}
.prose-ui ol li > ol {
    padding-left: var(--p-spacing-space6);
}
.prose-ui ol li > ol > li::before {
    width: var(--p-spacing-space7);
    left: calc(var(--p-spacing-space7) * -1);
}
.prose-ui ol li > ol > li > ol {
    padding-left: var(--p-spacing-space8);
}
.prose-ui ol li > ol > li > ol > li::before {
    width: var(--p-spacing-space8);
    left: calc(var(--p-spacing-space8) * -1);
}
.prose-ui hr {
    margin-top: var(--p-content-gap);
    margin-bottom: var(--p-content-gap-cluster);
    border: 0;
    border-top: 1px solid;
    border-color: hsl(var(--p-color-border));
}
.prose-ui hr:has(+ :is(h1, h2, h3, h4, h5, h6)) {
    margin-top: var(--p-content-gap-heading);
}
.prose-ui h1 {
    font-family: var(--p-h1-font-family);
    font-size: var(--p-h1-font-size);
    font-weight: var(--p-h1-font-weight);
    letter-spacing: var(--p-h1-letter-spacing);
    line-height: var(--p-h1-line-height);
    color: var(--p-h1-color);
    margin-top: var(--p-content-gap-heading);
    margin-bottom: var(--p-content-gap-cluster);
}
.prose-ui h2 {
    font-family: var(--p-h2-font-family);
    font-size: var(--p-h2-font-size);
    font-weight: var(--p-h2-font-weight);
    letter-spacing: var(--p-h2-letter-spacing);
    line-height: var(--p-h2-line-height);
    color: var(--p-h2-color);
    margin-top: var(--p-content-gap-heading);
    margin-bottom: var(--p-content-gap-cluster);
}
.prose-ui h3 {
    font-family: var(--p-h3-font-family);
    font-size: var(--p-h3-font-size);
    font-weight: var(--p-h3-font-weight);
    letter-spacing: var(--p-h3-letter-spacing);
    line-height: var(--p-h3-line-height);
    color: var(--p-h3-color);
    margin-top: var(--p-content-gap-heading);
    margin-bottom: var(--p-content-gap-cluster);
}
.prose-ui h4 {
    font-family: var(--p-h4-font-family);
    font-size: var(--p-h4-font-size);
    font-weight: var(--p-h4-font-weight);
    letter-spacing: var(--p-h4-letter-spacing);
    line-height: var(--p-h4-line-height);
    color: var(--p-h4-color);
    margin-top: var(--p-content-gap-heading);
    margin-bottom: var(--p-content-gap-cluster);
}
.prose-ui h5 {
    font-family: var(--p-h5-font-family);
    font-size: var(--p-h5-font-size);
    font-weight: var(--p-h5-font-weight);
    letter-spacing: var(--p-h5-letter-spacing);
    line-height: var(--p-h5-line-height);
    color: var(--p-h5-color);
    margin-top: var(--p-content-gap-heading);
    margin-bottom: var(--p-content-gap-cluster);
}
.prose-ui h6 {
    font-family: var(--p-h6-font-family);
    font-size: var(--p-h6-font-size);
    font-weight: var(--p-h6-font-weight);
    letter-spacing: var(--p-h6-letter-spacing);
    line-height: var(--p-h6-line-height);
    color: var(--p-h6-color);
    margin-top: var(--p-content-gap-heading);
    margin-bottom: var(--p-content-gap-cluster);
}
.prose-ui p a, .prose-ui td a, .prose-ui li a {
    color: var(--p-link-text-color);
    text-decoration-line: var(--p-link-text-decoration-line);
    text-decoration-color: var(--p-link-text-decoration-color);
    text-decoration-style: var(--p-link-text-decoration-style);
    font-weight: var(--p-link-font-weight);
    text-underline-offset: 0.25rem;
    transition: color 0.1s ease, text-decoration-color 0.1s ease;
}
.prose-ui p a:hover, .prose-ui td a:hover, .prose-ui li a:hover {
    color: hsl(var(--p-color-accent-high));
    text-decoration-color: hsl(var(--p-color-accent-high));
}
.prose-ui p a:active, .prose-ui td a:active, .prose-ui li a:active {
    color: hsl(var(--p-color-accent-high));
}
.prose-ui img {
    display: inline-block;
    border-radius: var(--p-border-radius);
}
.prose-ui table {
    margin-top: var(--p-content-gap);
    margin-bottom: var(--p-content-gap-cluster);
    border-collapse: collapse;
    overflow: hidden;
}
.prose-ui table td, .prose-ui table th {
    border-bottom: 1px solid hsl(var(--p-color-border));
    min-width: var(--p-spacing-space4);
    padding-top: var(--p-spacing-space3);
    padding-bottom: var(--p-spacing-space3);
    padding-left: var(--p-spacing-space2);
    padding-right: var(--p-spacing-space2);
    font-size: var(--p-table-font-size);
    line-height: var(--p-table-font-height);
}
.prose-ui table td > *, .prose-ui table th > * {
    margin-bottom: 0;
}
.prose-ui table td {
    font-weight: var(--p-table-font-weight);
}
.prose-ui table th {
    color: var(--p-table-th-color-text);
    font-size: var(--p-table-th-font-size);
    line-height: var(--p-table-th-font-height);
    font-weight: var(--p-table-th-font-weight);
}
.prose-ui table p {
    margin: 0;
}
.prose-ui table h1, .prose-ui table h2, .prose-ui table h3, .prose-ui table h4, .prose-ui table h5, .prose-ui table h6 {
    margin: 0;
}
.prose-ui .frame {
    display: flex;
    flex-direction: column;
    margin-top: var(--p-content-gap);
    margin-bottom: var(--p-content-gap-cluster);
    gap: var(--p-spacing-space1);
}
.prose-ui .frame:first-child > * {
    margin-bottom: 0;
}
.prose-ui .frame[data-align="left"] {
    align-items: flex-start;
}
.prose-ui .frame[data-align="center"] {
    align-items: center;
    text-align: center;
}
.prose-ui .frame[data-align="right"] {
    align-items: flex-end;
}
.prose-ui .frame[data-align="stretch"] {
    align-items: stretch;
    overflow-x: scroll;
}
.prose-ui .frame[data-align="stretch"] .caption {
    text-align: center;
}
.prose-ui .frame .caption {
    color: var(--p-frame-caption-color-text);
    font-size: var(--p-frame-caption-font-size);
    line-height: var(--p-frame-caption-font-height);
    font-weight: var(--p-frame-caption-font-weight);
    font-style: italic;
}
.prose-ui .frame table {
    width: auto;
}
.prose-ui .scroll-area-root {
    position: relative;
    overflow: hidden;
}
.prose-ui .scroll-area-viewport {
    width: 100%;
    height: 100%;
}
.prose-ui .scroll-area-scrollbar {
    display: flex;
    background-color: hsl(var(--p-color-bg-low));
    touch-action: none;
    user-select: none;
    border-radius: var(--p-spacing-space1-5);
}
.prose-ui .scroll-area-scrollbar[data-orientation="horizontal"] {
    margin: 2px 0;
    padding: 0 2px;
    height: var(--p-spacing-space1-5);
}
.prose-ui .scroll-area-thumb {
    background: hsl(var(--p-color-bg-lowest));
    border-radius: var(--p-spacing-space1-5);
    position: relative;
}
