@import 'tailwindcss';

@import '@prose-ui/style/prose-ui.css' layer(base);
@import '@prose-ui/style/katex.min.css' layer(base);

@import '@radix-ui/colors/gray.css' layer(base);
@import '@radix-ui/colors/gray-dark.css' layer(base);

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --text-color-color-high: var(--p-color-text-high);
  --text-color-color-base: var(--p-color-text);
  --text-color-color-low: var(--p-color-text-low);
  --text-color-color-lower: var(--p-color-text-lower);
  --text-color-color-lowest: var(--p-color-text-lowest);

  --stroke-color-high: var(--p-color-text-high);
  --stroke-color-base: var(--p-color-text);
  --stroke-color-low: var(--p-color-text-low);
  --stroke-color-lower: var(--p-color-text-lower);
  --stroke-color-lowest: var(--p-color-text-lowest);

  --background-color-high: var(--bg-high-mapped);
  --background-color-base: var(--bg-base-mapped);
  --background-color-low: var(--bg-low-mapped);
  --background-color-lower: var(--bg-lower-mapped);
  --background-color-lowest: var(--bg-lowest-mapped);

  --border-color-color-base: var(--p-color-border);

  /* --color-color-accent-high: var(--p-color-accent-high);
  --color-color-accent-base: var(--p-color-accent);
  --color-color-accent-low: var(--p-color-accent-low); */

  --font-mono:
    var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --text-sm: var(--p-font-size-sm);
  --text-sm--line-height: var(--p-font-height-sm);
  --text-sm--letter-spacing: var(--p-letter-spacing-sm);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  .prose-ui {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      scroll-margin-top: 16px;
    }
  }
}

@layer base {
  :root {
    /* Background color mappings for Tailwind theme */
    --bg-high-mapped: var(--p-color-bg-low);
    --bg-base-mapped: var(--p-color-bg);
    --bg-low-mapped: var(--p-color-bg-low);
    --bg-lower-mapped: var(--p-color-bg-lower);
    --bg-lowest-mapped: var(--p-color-bg-lowest);

    --p-font-family: var(--font-geist-sans);
    --p-font-family-heading: var(--font-geist-sans);
    --p-font-family-mono: var(--font-geist-mono);
    --sidenav-width: 15.625rem;
    --site-width: 80rem;
    --site-padding-x: 0.75rem;
    --toc-width: 12rem;
    --topnav-height: 3.5rem;
    --article-padding-t: var(--p-content-gap-heading);
    --article-padding-x: 0;
    --article-padding-x-md: theme(padding.6);
    --article-padding-x-lg: theme(padding.10);
    --article-padding-x-xl: theme(padding.14);
    --nav-heading-font-size: var(--p-h6-font-size);
    --nav-heading-line-height: var(--p-h6-font-height);
    --nav-heading-letter-spacing: var(--p-h6-letter-spacing);
    --nav-heading-font-weight: var(--p-h6-font-weight);
    --nav-link-font-size: var(--p-body-font-size);
    --nav-link-line-height: var(--p-body-font-height);
    --nav-link-letter-spacing: var(--p-body-letter-spacing);
    --nav-link-font-weight: var(--p-body-font-weight);
  }
  
  @media (min-width: 768px) {
    :root {
      --site-padding-x: 1.5rem;
    }
  }

  :root {
    --p-link-font-weight: var(--p-font-weight-medium);
    /* --p-code-block-font-size: 0.9375rem; */
    --p-code-block-font-weight: 400;

    /* --p-color-accent-high: #000000;
    --p-color-accent: var(--asdf);
    --p-color-accent-low: #b3b3b3; */

    --button-primary-color-bg: var(--gray-12);
    --button-primary-color-text: var(--gray-1);

  }
  :root:is(.dark) {
    /* Background color mappings for dark theme */
    --bg-high-mapped: var(--p-color-bg-high);
    --bg-base-mapped: var(--p-color-bg);
    --bg-low-mapped: var(--p-color-bg-low);
    --bg-lower-mapped: var(--p-color-bg-lower);
    --bg-lowest-mapped: var(--p-color-bg-lowest);

    /* --p-color-accent-high: #ffffff;
    --p-color-accent: #e6e6e6;
    --p-color-accent-low: #4d4d4d; */
    --button-primary-color-bg: var(--gray-12);
    --button-primary-color-text: var(--gray-3);
    --p-color-text: #d9dce5;



    /* --p-color-syntax-syntax1: var(--color-green-300);
    --p-color-syntax-syntax2: var(--color-orange-300);
    --p-color-syntax-syntax3: var(--color-purple-300);
    --p-color-syntax-syntax4: var(--color-blue-300); */
  }
}

@layer base {
  * {
    border-color: var(--p-color-border);
  }
}
